body{
    background-color: #FF7F50;
}
h1{
    color: #800080;
    text-align: center;
}
label{
    color: #F0E68C;
    font-size: 25px;
}
p{
    color: #F0E68C;
    font-size: 25px;
}
.design{
    color: #F0E68C;
    font-size: 25px;
    background-color: #FF8C00;
}